*{
    margin: 0;
    padding: 0%;
   
}
body{
    background-color: #73573f;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    width: 100%;
    background-image: url(./Imagenes/recording-studio-1869560_1920.jpg);
    background-size: cover;
    color: white;
    height: 48vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 10vh;
    color:white;
}

.menu{
display: flex;
list-style: none;
background-color: #A66D3C;
align-items: center;
font-weight: 500;
}

.menu li {
    margin-right: 5px;
    height: 100%;
    font-size: 2vh;
   padding: 5px;
   }

.menu li:hover{
    background-color: #73573f;
    
}

.menu li a{
    text-decoration: none;
    color: black;
}

#here{
    background-color: #73573f;
}

.info{
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}
.description{
    width: 48%;
    float: right;
    font-size: 3vh;
    margin-left: 2%;
    margin-bottom: 5%;
}
.service{
    font-size: 3vh;
    margin-left: 35%;
    margin-right: 20%;
    margin-bottom: 3%;
    color: #0c0D07;
    }

    .imgservice{
        display: flex;
        
    }
.imgservice p img{
    border-radius: 5%;
    width: 52vh;
    height: 31vh;
    margin-right: 0vh;
    margin-left: 13vh;
    transition-property: width, height;
    transition-duration: 500ms;
    
}

.imgservice p img:hover{
    width: 58vh;
    height:35vh ;
}
.serText{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.serMusic a{
    margin-left: 5vh;
    font-size: 3vh;
    margin-top: 2vh;
    font-weight: bolder;
    text-decoration:none;
    color: #0c0D07;
    margin-top: 4vh;
}
.serVideo a{
    font-size: 3vh;
    margin-top: 4vh;
    font-weight: bolder;
    text-decoration: none;
    color: #0c0D07;
    
}
footer{
    background-color: #84898c;
}
.contact{
    display: flex;
    list-style-type: none;
}
.contact li img{
    padding: 5px;
    text-decoration: none;
    color: #0c0D07;
    list-style-type: none;
    margin-left: 10px;
    width: 3vh;
}
.ficticia{
    margin-left: 90vh;
    margin-top: 15px;
}